.Rproj.user
.Rhistory
.RData
.Ruserdata
Artigo.html
Artigo_cache
Artigo.log
tabela.tsv
validacao_cruzada.html
semCV.Rmd
semCV.html
Artigo-SOBREA_rev NH.pdf
Impacto_sigma-rev NH.pdf
SOBREA 2018_Moda-Mediana-Média_rev NH.pdf
Centro 2015_moda e cia.xlsx
sobrea.Rproj
